<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "sponsorees", admin_sponsorees_path %></li>
    <li class="breadcrumb-item active mr-auto" aria-current="page"><%= @sponsoree.id %></li>
  </ol>
</nav>
<div class="card">
  <h5 class="card-header"><%= @sponsoree.name %>, <%= @sponsoree.surname %></h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p class="fw-bold">Surname</p>
      <p class="fw-normal"><%= @sponsoree.surname %></p>
    </li>
    <li class="list-group-item">
      <p class="fw-bold">Date of birth</p>
      <p class="fw-normal"><%= @sponsoree.date_of_birth %></p>
    </li>
    <li class="list-group-item">
      <p class="fw-bold">Notes</p>
      <p class="fw-normal"><%= @sponsoree.notes %></p>
    </li>
    <li class="list-group-item">
      <p class="fw-bold">Emergency fund</p>
      <p class="fw-normal"><%= @sponsoree.emergency_fund %></p>
    </li>
    <li class="list-group-item">
      <p class="fw-bold">Images</p>
      <p class="fw-normal"><%= @sponsoree.images %></p>
    </li>
  </ul>
</div>
