<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Associazionesalim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%
=begin%>
 <%= render "menu" %>
<%
=end%>
    </nav>

    <main>
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <% if true #founder_signed_in? %>
          <%= button_to "Sign Out", "#destroy_founder_session_path", method: :destroy, class: "btn btn-primary btn-sm px-4 gap-3" %>
        <% else %>
          <%= link_to 'Sign In', "#new_founder_session_path" %>
          <%= link_to 'Sign Up', "#new_founder_registration_path" %>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
